@forward "vuetify/settings"
  with(
    $shadow-key-umbra-opacity: rgba(38, 96, 164, 0.2),
    $shadow-key-penumbra-opacity: rgba(38, 96, 164, 0.14),
    $shadow-key-ambient-opacity: rgba(38, 96, 164, 0.12)
  );
